<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_pimux._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>pimux uses your local network to discover nearby pimux servers.</string>
	<key>NSCameraUsageDescription</key>
	<string>pimux uses the camera to capture images to send to coding sessions.</string>
</dict>
</plist>
